body{
    font-family: Arial;
}

p{

    font-size: 14px;
    font-weight:bold;
    text-align: justify;
    line-height: 20px;
}

h2{
    font-style: italic;
    text-align: center;
}

h1{
    text-transform: uppercase;
    text-align: center;
}