.semaforo{
    width:140px;
    height:400px;
    background-color: black;
    border-radius: 20px;
    padding:10px;
}

.semaforo div{
    width: 120px;
    height:120px;
    margin: 10px;
    background-color: gray;
    border-radius: 100%;
    opacity:0.3;
    
}

.semaforo .aberto{
    background-color: green;
}

.semaforo .aguarde{
    background-color: yellow;
}

.semaforo .fechado{
    background-color: red;
    opacity:1;
}




